%h1 About Calnendaria
%p Calendaria is your simple 'Calendar as a Service'
%p Create a calendar, add events, and create custom 'blurbs' which are repeating events
%p easily share the calendar to your site via a drag and drop iFrame
%p or if you're an advanced developer, get it as JSON so you can fully cusomtize how it looks and behaves
%p you'll only pay $1/mo per calendar, or just $10 forever

